body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin: 0;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#quantity {
    margin: 0 10px;
}

#cep {
    padding: 5px;
    margin-right: 10px;
}

#calculateShipping {
    background-color: #28a745;
}
